//////////////////////////////
// Import All The Things
//////////////////////////////

// Vendor
@import 'normalize';

// Bower Components
@import
  '../../bower_components/shevy/core/shevy',
  '../../bower_components/condo/core/condo'
;

// Globals
@import
  'globals/variables',
  'globals/functions',
  'globals/mixins',
  'globals/fonts'
;

// Components
@import
  'components/table_of_contents',
  'components/flip_pages',
  'components/story_section'
;

@include headings;
@include body;
@include content;

html {
  height: 100%;
  font-size: 85%;

  @include bp(alpha) {
    font-size: 100%;
  }

  @include bp(charlie) {
    font-size: 125%;
  }
}

body {
  min-height: 100%;
  color: #fff;
  font-family: 'Lora', serif;
  transition: background .75s ease;

  &.index {
    background: $c-spanish-crimson;
  }

  &.chapter-one {
    background: $c-maximum-blue;
  }

  &.chapter-two {
    background: $c-orange-soda;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 0;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

ol,
ul {
  padding-left: 0;

  & > & {
    padding-left: bs();
  }
}

.container {
  @include container(85%);
}

.main {
  margin-left: 50px;
  padding-bottom: 25vh;
}

.footer {
  width: 100%;
  background: $c-jet;
  padding: bs() 0 bs() 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
