//////////////////////////////
// Variables
//////////////////////////////

$breakpoints: (
  'alpha': 481px,
  'bravo': 769px,
  'charlie': 1025px
);

// Colors
$c-spanish-crimson: #E01A4F;
$c-orange-soda: #F15946;
$c-maximum-blue: #53B3CB;
$c-saffron: #F9C22E;
$c-japanese-violet: #5C2751;
$c-jet: #32322C;

// Shevy
$shevy: (
  base-font-size: 1rem,
  base-font-scale: (4, 3, 2, 1.75, 1.25, 1),
  proximity: true
);

// Sizes
$toc-trigger-width: 25px;
$toc-trigger-height: 2px;
$toc-trigger-separation: -8px;
