//////////////////////////////
// Variables
//////////////////////////////

// Colors
$c-spanish-crimson: #E01A4F;
$c-orange-soda: #F15946;
$c-maximum-blue: #53B3CB;
$c-saffron: #F9C22E;
$c-japanese-violet: #5C2751;
$c-jet: #32322C;

// Sizes
$toc-trigger-width: 25px;
$toc-trigger-height: 2px;
$toc-trigger-separation: -8px;
