//////////////////////////////
// Flip Pages
//////////////////////////////

.flip_pages {
  @include clearfix;
  width: 100%;
  padding: bs(.5) 0;
  margin-bottom: bs();

  &-previous-wrap,
  &-next-wrap {
    width: 50%;
  }

  &-previous-wrap {
    float: left;
  }

  &-next-wrap {
    float: right;
    text-align: right;
  }

  &-arrow {
    padding: 0 3px;
  }
}
