//////////////////////////////
// Flip Pages
//////////////////////////////

.flip_pages {
  @include clearfix;
  width: 100%;
  padding: bs(.5) 0;
  margin-bottom: bs();

  &-previous,
  &-next {
    width: 50%;
  }

  &-previous {
    float: left;
  }

  &-next {
    float: right;
    text-align: right;
  }
}
