//////////////////////////////
// Flip Pages
//////////////////////////////

.flip_pages {
  @include clearfix;
  width: 100%;
  font-family: $f-monty;
  padding: bs(.5) 0;
  margin-bottom: bs();

  &-previous-wrap,
  &-next-wrap {

    @include bp(alpha) {
      width: 50%;
    }
  }

  &-previous-wrap {

    @include bp(alpha) {
      float: left;
    }
  }

  &-next-wrap {

    @include bp(alpha) {
      float: right;
      text-align: right;
    }
  }

  &-previous,
  &-next {
    display: inline-block;
    padding: bs(.25) 0;
  }

  &-arrow {
    padding: 0 3px;
  }
}
