<div class="toc">
  <div class="toc-trigger-wrap">
    <button class="toc-trigger" {{action 'tocTrigger'}}>
      <span class="toc-trigger-line"></span>
    </button>
  </div>

  <div class="container">
    <h5 class="toc-heading">Table of Contents</h5>

    <ul class="toc-list">
      <li class="toc-list-item">{{link-to 'Introduction' 'index' class="toc-list-item-link"}}</li>
      <li class="toc-list-item">{{link-to 'Chapter 1' 'chapter-one' class="toc-list-item-link"}}</li>
      <li class="toc-list-item">{{link-to 'Chapter 2' 'chapter-two' class="toc-list-item-link"}}</li>
    </ul>
  </div>
</div>
