<div class="toc">
  <div class="toc-trigger-wrap">
    <button class="toc-trigger" {{action 'tocTrigger'}}>
      <span class="toc-trigger-line"></span>
    </button>
  </div>

  <div class="container">
    <h2 class="toc-heading">Table of Contents</h2>

    <ul class="toc-list">
      <li class="toc-list-item">{{link-to 'Introduction' 'index'}}</li>
      <li class="toc-list-item">{{link-to 'Chapter 1' 'chapter-one'}}</li>
      <li class="toc-list-item">{{link-to 'Chapter 2' 'chapter-two'}}</li>
    </ul>
  </div>
</div>
