{{#if prev}}
  <li class="flip_pages-item">{{link-to prevLabel prev class="flip_pages-item-link"}}</li>
{{/if}}

{{#if next}}
  <li class="flip_pages-item">{{link-to nextLabel next class="flip_pages-item-link"}}</li>
{{/if}}
