<h2 class="story_section-heading">{{ title }}</h2>

<div class="story_section-body">
  {{yield}}

  {{#if continue}}
    {{link-to 'Continue' continue class="story_section-continue"}}
    <span class="icon-arrow-right"></span>
  {{/if}}
</div>
