{{table-of-contents}}

<main class="main">
  <div class="container">
    {{liquid-outlet}}
  </div>
</main>

<footer class="footer">
  <div class="container">
    <p>
      Built with Ember. Copyright &copy; 2016 Kyle Shevlin. Follow me <a href="https://twitter.com/kyleshevlin">@kyleshevlin</a>.
    </p>
  </div>
</footer>
