{{flip-pages
  prev="chapter-three"
  prevLabel="Chapter 3"
}}

{{#story-section
  title="Chapter 4: A Man's Story Is Unfinished"
}}
  <p>
    And now we arrive at the present. The young man is, of course, me. I am a developer looking for a new challenge. A challenge that will allow me to add some more great chapters to this story.
  </p>

  <p>
    Short as it was, I hope you enjoyed the story (or, at the very least, that it got your attention). I would be glad to fill you in on more of the interesting and technical details during an interview.
  </p>

  <p>
    While you can find links to many of my web development works throughout the chapters of this app and in the cover letter I sent you, I would be a fool not to organize some for you here. Below you will find everything I think you could possibly need.
  </p>

  <p>
    <ul>
      <li><a href="http://kyleshevlin.github.io">Resume</a></li>
      <li><a href="https://github.com/kyleshevlin">GitHub</a></li>
      <li><a href="http://kyleshevlin.com">Blog and Portfolio</a></li>
      <li><a href="https://linkedin.com/in/kyleshevlin">LinkedIn</a></li>
      <li><a href="https://twitter.com/kyleshevlin">Twitter</a></li>
    </ul>
  </p>

  <p>
    And of course, you can <a href="mailto:kyle.a.shevlin@gmail.com">email me</a> with any questions you might have. I look forward to hearing back from you.
  </p>

  <p>
    All the best,<br>
    Kyle Shevlin
  </p>

  <p>
    PS. You can see the source code for this app at <a href="https://github.com/kyleshevlin/second-story-story">https://github.com/kyleshevlin/second-story-story</a>.
  </p>
{{/story-section}}
