{{flip-pages
  prev="chapter-one"
  prevLabel="Chapter 1"
  next="chapter-three"
  nextLabel="Chapter 3"
}}

{{#story-section
  title="Chapter 2: A Man Thrives"
  continue="chapter-three"
}}
  <p>
    At FINE, the young man thrived, learning more and more with each day. He learned how to debug legacy PHP sites and how to build entire applications with Ruby on Rails. He developed front end standards for the company and implemented new strategies for handling their ever increasing and challenging front end work. He became a linchpin, a "go-to" developer for all things front end.
  </p>

  <p>
    His gifts and talent earned him high praises from his colleagues. He had the respect of his peers. He was given promotions and raises and lauded by all as a "damn good developer." But after several years, it wasn't enough...
  </p>
{{/story-section}}
