{{flip-pages
  prev="chapter-two"
  prevLabel="Chapter 2"
  next="chapter-four"
  nextLabel="Chapter 4"
}}

{{#story-section
  title="Chapter 3: A Man Needs a Challenge"
  continue="chapter-four"
}}
  <p>
    After several years of consistent growth and improvement, the young man began to plateau. He noticed that his work began to be a bit <em>too</em> easy for him. Soon, the work no longer could keep up with the growing passion of the young developer.
  </p>

  <p>
    He began to learn <a href="https://www.emberjs.com">Ember</a> and <a href="https://www.d3js.org">D3</a>. He learned how to write APIs and build <a href="https://rubygems.org/profiles/kyleshevlin">Ruby gems</a>, <a href="https://github.com/kyleshevlin/shevy">Bower packages</a>, <a href="https://github.com/kyleshevlin/matchbox">JavaScript plugins</a>, and <a href="https://github.com/kyleshevlin/condo">Sass libraries</a>. He contributed to <a href="http://kyleshevlin.github.io/#projects">open source projects</a>.
  </p>

  <p>
    The man tried hard to bring these new skills and technologies to his current job, but there was little need for it. The company had become very good at building one thing and, as is often the case, efficiency didn't require much innovation.
  </p>

  <p>
    The young man's days at work began to be challenging in a different way. No longer was it the difficulty or novelty of the task, but the mundanity of it. The man knew, deep down in his heart, that work could be, maybe even <em>should be</em>, more satisfying than this.
  </p>

  <p>
    He wisely spoke to his directors about the issue. They had always been encouraging to him, and he had always given his best to them. After a number of conversations, both the young man and his directors agreed that if the young man sought a challenge, then that pursuit would take him elsewhere. With their blessing, the young man packed his laptop bag and headed out, seeking a new adventure...
  </p>
{{/story-section}}
