{{flip-pages
  prev='index'
  prevLabel='Introduction'
  next="chapter-two"
  nextLabel="Chapter 2"
}}

{{#story-section
  title="Chapter 1: A Man Moves to a Weird Town"
}}
  <p>
    I am <em>not</em> an animator (obviously), but I am a front end developer. A damn good one if you ask me (or my references). However, I also recognize the significance of a good story and why that plays an important role in shaping what we create.
  </p>
{{/story-section}}
