{{flip-pages
  prev='index'
  prevLabel='Introduction'
  next="chapter-two"
  nextLabel="Chapter 2"
}}

{{#story-section
  title="Chapter 1: A Man Moves to a \"Weird\" Town"
  continue="chapter-two"
}}
  <p>
    A few years ago, a young man and his wife moved to a "weird" town in the Pacific Northwest. A strange village with many fine and interesting people. The young man and his wife came to pursue a more affordable life, having fled the expensive desert known as Los Angeles.
  </p>

  <p>
    The young man had spent a lot of time training himself, day in and day out, to be a web developer. He used every available resource at his disposal and quickly gained skill. As was his fortune, he found employment with the digital agency <a href="http://www.wearefine.com">FINE...</a>.
  </p>
{{/story-section}}
