{{flip-pages
  nextLabel='Chapter 1'
  next='chapter-one'
}}

{{#story-section
  title="Hello Second Story,"
  continue='chapter-one'
}}
  <p>
    My name is <a href="https://kyleshevlin.github.io">Kyle Shevlin</a>, front end web developer, and I have a story written just for you.
  </p>
{{/story-section}}
