{{flip-pages
  nextLabel='Chapter 1'
  next='chapter-one'
}}

{{#story-section
  title="Hello Second Story"
}}
  <p>
    My name is Kyle Shevlin and I have a story to tell you.
  </p>
{{/story-section}}
